*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;

}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;

    
}
.heading{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(red, green, blue, alpha);

}
.profile{
    position: relative;
    background: #003147;
    padding: 40px;
}
.education{
    position: relative;
    background: #fff;
    padding: 40px;
}

